<main class="container">

  <div class="row">
    {{!-- 側邊欄 --}}
    {{> admin-sidebar route='Users'}}

    <div class="col-6" style="max-width: 639px;">
      <nav class="navbar navbar-light border-start border-end">
        <div class="container-fluid">
          <h4 class="navbar-brand mb-0 h1 fs-4">使用者列表</h4>
        </div>
      </nav>
      {{!-- 推文串 --}}
      {{!-- each twitters 迴圈開始 --}}
      <div class="border-start border-end border-bottom d-flex align-items-end flex-column pt-2"
        style="min-height: 130px;">
        <div class="align-self-start">
          <img src="https://i.imgur.com/hpSLhnx.png" title="source: imgur.com" style="width: 50px;height: 50px;"
            class="ms-4">
          <div class="d-inline-flex pt-3">
            <h5 class="mx-2" style="color: #171725;">Apple</h5>
            <span style="color: #6C757D;">@apple · 3小時</span>
          </div>
        </div>
        <div class="pe-2" style="max-width: 528px">
          <p class="ms-auto">Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor.
            Voluptate exercitation incididunt
            aliquip deserunt reprehenderit elit laborum.
          </p>
          <div class="d-flex align-items-baseline">
            <img src="https://i.imgur.com/AXqSL48.png" title="source: imgur.com" style="width: 16px;height: 16px;"
              class="me-1">
            <p class="me-5">3</p>
            <img src="https://i.imgur.com/gdUkdVf.png" title="source: imgur.com" style="width: 16px;height: 16px;"
              class="me-1">
            <p>16</p>
          </div>
        </div>
      </div>
      {{!-- each迴圈結束 --}}
    </div>

  </div>
</main>